In [4]:
import os
import pandas as pd

In [18]:
cwd = os.getcwd()
print(cwd)
BASE_DIR = os.path.dirname(cwd)
DATA_DIR = os.path.join(BASE_DIR, 'data')

C:\Users\rober\coding\api_projects\30Days\Day 17\notebooks

In [19]:
os.listdir(DATA_DIR)

['1999.csv',
 '2000.csv',
 '2001.csv',
 '2002.csv',
 '2003.csv',
 '2004.csv',
 '2005.csv',
 '2006.csv',
 '2007.csv',
 '2008.csv',
 '2009.csv',
 '2010.csv',
 '2011.csv',
 '2012.csv',
 '2013.csv',
 '2014.csv',
 '2015.csv',
 '2016.csv',
 '2017.csv',
 '2018.csv',
 '2019.csv',
 '2020.csv',
 '2021.csv',
 '2022.csv']

In [9]:
my_items = [{'category':'Action', 'title':'My Movie'}, {'category': 'Comedy', 'title': 'Data Jokes'}]
df = pd.DataFrame(my_items)

In [10]:
df.head()

  category       title
0   Action    My Movie
1   Comedy  Data Jokes

In [11]:
df['category']

0    Action
1    Comedy
Name: category, dtype: object

In [14]:
my_data = os.path.join(DATA_DIR, '2020.csv')
print(os.path.exists(my_data))

True

In [15]:
df2 = pd.read_csv(my_data)

In [16]:
df2.head(n=10)

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,1,The Eight Hundred,"$461,421,559","$372,755",<0.1%,"$461,048,804",99.9%
1,2,Demon Slayer the Movie: Mugen Train,"$453,210,959","$49,505,008",10.9%,"$403,705,951",89.1%
2,3,Bad Boys for Life,"$426,505,244","$206,305,244",48.4%,"$220,200,000",51.6%
3,4,"My People, My Homeland","$422,390,820",-,-,"$422,390,820",100%
4,5,Tenet,"$365,294,355","$58,504,105",16%,"$306,790,250",84%
5,6,Sonic the Hedgehog,"$319,715,683","$148,974,665",46.6%,"$170,741,018",53.4%
6,7,Dolittle,"$245,439,115","$77,047,065",31.4%,"$168,392,050",68.6%
7,8,Legend of Deification,"$240,663,149","$214,670",<0.1%,"$240,448,479",99.9%
8,9,A Little Red Flower,"$216,000,000",-,-,"$216,000,000",100%
9,10,The Croods: A New Age,"$215,905,815","$58,568,815",27.1%,"$157,337,000",72.9%