In [1]:
import os
import pandas as pd

In [2]:
cwd = os.getcwd()
BASE_DIR = os.path.dirname(cwd)
DATA_DIR = os.path.join(BASE_DIR, 'data')
CACHE_DIR = os.path.join(BASE_DIR, 'cache')
os.makedirs(CACHE_DIR, exist_ok=True)

In [3]:
for filename in os.listdir(DATA_DIR):
    print(filename)

1999.csv
2000.csv
2001.csv
2002.csv
2003.csv
2004.csv
2005.csv
2006.csv
2007.csv
2008.csv
2009.csv
2010.csv
2011.csv
2012.csv
2013.csv
2014.csv
2015.csv
2016.csv
2017.csv
2018.csv
2019.csv
2020.csv
2021.csv
2022.csv

In [4]:
df = pd.read_csv(os.path.join(DATA_DIR, '2010.csv'))
df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,1,Toy Story 3,"$1,066,969,703","$415,004,880",38.9%,"$651,964,823",61.1%
1,2,Alice in Wonderland,"$1,025,467,110","$334,191,110",32.6%,"$691,276,000",67.4%
2,3,Harry Potter and the Deathly Hallows: Part 1,"$976,536,918","$295,983,305",30.3%,"$680,553,613",69.7%
3,4,Inception,"$826,137,188","$292,576,195",35.4%,"$533,560,993",64.6%
4,5,Shrek Forever After,"$752,600,867","$238,736,787",31.7%,"$513,864,080",68.3%

In [5]:
df['Rank']

0        1
1        2
2        3
3        4
4        5
      ...
195    196
196    197
197    198
198    199
199    200
Name: Rank, Length: 200, dtype: int64

In [6]:
df['Year']=2010

In [7]:
df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,Year
0,1,Toy Story 3,"$1,066,969,703","$415,004,880",38.9%,"$651,964,823",61.1%,2010
1,2,Alice in Wonderland,"$1,025,467,110","$334,191,110",32.6%,"$691,276,000",67.4%,2010
2,3,Harry Potter and the Deathly Hallows: Part 1,"$976,536,918","$295,983,305",30.3%,"$680,553,613",69.7%,2010
3,4,Inception,"$826,137,188","$292,576,195",35.4%,"$533,560,993",64.6%,2010
4,5,Shrek Forever After,"$752,600,867","$238,736,787",31.7%,"$513,864,080",68.3%,2010

In [8]:
df['Start Year'] = df['Year']

In [9]:
df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,Year,Start Year
0,1,Toy Story 3,"$1,066,969,703","$415,004,880",38.9%,"$651,964,823",61.1%,2010,2010
1,2,Alice in Wonderland,"$1,025,467,110","$334,191,110",32.6%,"$691,276,000",67.4%,2010,2010
2,3,Harry Potter and the Deathly Hallows: Part 1,"$976,536,918","$295,983,305",30.3%,"$680,553,613",69.7%,2010,2010
3,4,Inception,"$826,137,188","$292,576,195",35.4%,"$533,560,993",64.6%,2010,2010
4,5,Shrek Forever After,"$752,600,867","$238,736,787",31.7%,"$513,864,080",68.3%,2010,2010

In [10]:

my_dataframes = []
csv_files = [x for x in os.listdir(DATA_DIR) if x.endswith('.csv')]
for filename in csv_files:
    print(filename)
    year = filename.replace('.csv', '')
    csv_path = os.path.join(DATA_DIR, filename)
    this_df = pd.read_csv(csv_path)
    this_df['filename'] = filename
    this_df['year'] = year
    print(this_df.head)
    my_dataframes.append(this_df)

1999.csv
<bound method NDFrame.head of      Rank                              Release Group     Worldwide  \
0       1  Star Wars: Episode I - The Phantom Menace  $924,305,084
1       2                            The Sixth Sense  $672,806,292
2       3                                Toy Story 2  $487,059,677
3       4                                 The Matrix  $463,517,383
4       5                                     Tarzan  $448,191,819
..    ...                                        ...           ...
195   196                                      Tango    $1,897,948
196   197                                 Holy Smoke    $1,765,545
197   198                    The Dreamlife of Angels    $1,726,567
198   199                                    Romance    $1,585,642
199   200              Asterix and Obelix vs. Caesar    $1,541,261

         Domestic      %       Foreign    %.1  filename  year
0    $431,088,295  46.6%  $493,216,789  53.4%  1999.csv  1999
1    $293,506,292  43.6%  $379,300,000  56.4%  1999.csv  1999
2    $245,852,179  50.5%  $241,207,498  49.5%  1999.csv  1999
3    $171,479,930    37%  $292,037,453    63%  1999.csv  1999
4    $171,091,819  38.2%  $277,100,000  61.8%  1999.csv  1999
..            ...    ...           ...    ...       ...   ...
195    $1,897,948   100%             -      -  1999.csv  1999
196    $1,765,545   100%             -      -  1999.csv  1999
197    $1,726,567   100%             -      -  1999.csv  1999
198    $1,585,642   100%             -      -  1999.csv  1999
199    $1,541,261   100%             -      -  1999.csv  1999

[200 rows x 9 columns]>
2000.csv
<bound method NDFrame.head of      Rank                              Release Group     Worldwide  \
0       1                     Mission: Impossible II  $546,388,108
1       2                                  Gladiator  $460,583,960
2       3                                  Cast Away  $429,632,142
3       4                            What Women Want  $374,111,707
4       5                                   Dinosaur  $349,822,765
..    ...                                        ...           ...
195   196                                     Hamlet    $2,046,433
196   197  The Broken Hearts Club: A Romantic Comedy    $2,019,121
197   198                          Cecil B. Demented    $1,961,544
198   199       The Life and Times of Hank Greenberg    $1,712,385
199   200                     The Girl on the Bridge    $1,708,839

         Domestic      %       Foreign    %.1  filename  year
0    $215,409,889  39.4%  $330,978,219  60.6%  2000.csv  2000
1    $187,705,427  40.8%  $272,878,533  59.2%  2000.csv  2000
2    $233,632,142  54.4%  $196,000,000  45.6%  2000.csv  2000
3    $182,811,707  48.9%  $191,300,000  51.1%  2000.csv  2000
4    $137,748,063  39.4%  $212,074,702  60.6%  2000.csv  2000
..            ...    ...           ...    ...       ...   ...
195    $1,577,287  77.1%      $469,146  22.9%  2000.csv  2000
196    $1,746,585  86.5%      $272,536  13.5%  2000.csv  2000
197    $1,284,646  65.5%      $676,898  34.5%  2000.csv  2000
198    $1,712,385   100%             -      -  2000.csv  2000
199    $1,708,839   100%             -      -  2000.csv  2000

[200 rows x 9 columns]>
2001.csv
<bound method NDFrame.head of      Rank                                      Release Group     Worldwide  \
0       1              Harry Potter and the Sorcerer's Stone  $974,755,371
1       2  The Lord of the Rings: The Fellowship of the Ring  $880,839,846
2       3                                     Monsters, Inc.  $528,773,250
3       4                                              Shrek  $484,409,218
4       5                                     Ocean's Eleven  $450,717,150
..    ...                                                ...           ...
195   196                                    The Golden Bowl    $5,753,678
196   197                                        A Fish Tale    $5,595,327
197   198                                               Made    $5,480,653
198   199                                       Read My Lips    $5,393,526
199   200                                     Charlotte Gray    $5,323,109

         Domestic      %       Foreign    %.1  filename  year
0    $317,575,550  32.6%  $657,179,821  67.4%  2001.csv  2001
1    $313,364,114  35.6%  $567,475,732  64.4%  2001.csv  2001
2    $255,873,250  48.4%  $272,900,000  51.6%  2001.csv  2001
3    $267,665,011  55.3%  $216,744,207  44.7%  2001.csv  2001
4    $183,417,150  40.7%  $267,300,000  59.3%  2001.csv  2001
..            ...    ...           ...    ...       ...   ...
195    $3,050,532    53%    $2,703,146    47%  2001.csv  2001
196      $563,911  10.1%    $5,031,416  89.9%  2001.csv  2001
197    $5,313,300  96.9%      $167,353   3.1%  2001.csv  2001
198    $1,471,911  27.3%    $3,921,615  72.7%  2001.csv  2001
199      $741,394  13.9%    $4,581,715  86.1%  2001.csv  2001

[200 rows x 9 columns]>
2002.csv
<bound method NDFrame.head of      Rank                                 Release Group     Worldwide  \
0       1         The Lord of the Rings: The Two Towers  $936,689,735
1       2       Harry Potter and the Chamber of Secrets  $878,979,634
2       3                                    Spider-Man  $821,708,551
3       4  Star Wars: Episode II - Attack of the Clones  $645,256,452
4       5                               Men in Black II  $441,818,803
..    ...                                           ...           ...
195   196                                   Extreme Ops   $10,959,475
196   197                                      Champion   $10,569,737
197   198                               Bibi Blocksberg   $10,325,928
198   199              Kamen Rider Ryuki: Episode Final   $10,112,538
199   200                        Pulse: A Stomp Odyssey   $10,086,514

         Domestic      %       Foreign    %.1  filename  year
0    $339,789,881  36.3%  $596,899,854  63.7%  2002.csv  2002
1    $261,988,482  29.8%  $616,991,152  70.2%  2002.csv  2002
2    $403,706,375  49.1%  $418,002,176  50.9%  2002.csv  2002
3    $302,191,252  46.8%  $343,065,200  53.2%  2002.csv  2002
4    $190,418,803  43.1%  $251,400,000  56.9%  2002.csv  2002
..            ...    ...           ...    ...       ...   ...
195    $4,842,259  44.2%    $6,117,216  55.8%  2002.csv  2002
196             -      -   $10,569,737   100%  2002.csv  2002
197             -      -   $10,325,928   100%  2002.csv  2002
198             -      -   $10,112,538   100%  2002.csv  2002
199   $10,086,514   100%             -      -  2002.csv  2002

[200 rows x 9 columns]>
2003.csv
<bound method NDFrame.head of      Rank                                      Release Group       Worldwide  \
0       1      The Lord of the Rings: The Return of the King  $1,140,682,011
1       2                                       Finding Nemo    $871,014,978
2       3                                The Matrix Reloaded    $739,412,035
3       4  Pirates of the Caribbean: The Curse of the Bla...    $654,264,015
4       5                                     Bruce Almighty    $484,592,874
..    ...                                                ...             ...
195   196                               The Flying Classroom      $9,378,807
196   197         Spring, Summer, Fall, Winter... and Spring      $8,944,914
197   198                                         Après Vous      $8,852,763
198   199                                     18 Years Later      $8,785,730
199   200                                Le coeur des hommes      $8,755,325

         Domestic      %       Foreign    %.1  filename  year
0    $377,027,325  33.1%  $763,654,686  66.9%  2003.csv  2003
1    $339,714,978    39%  $531,300,000    61%  2003.csv  2003
2    $281,576,461  38.1%  $457,835,574  61.9%  2003.csv  2003
3    $305,413,918  46.7%  $348,850,097  53.3%  2003.csv  2003
4    $242,829,261  50.1%  $241,763,613  49.9%  2003.csv  2003
..            ...    ...           ...    ...       ...   ...
195             -      -    $9,378,807   100%  2003.csv  2003
196    $2,380,788  26.6%    $6,564,126  73.4%  2003.csv  2003
197      $830,292   9.4%    $8,022,471  90.6%  2003.csv  2003
198       $25,611   0.3%    $8,760,119  99.7%  2003.csv  2003
199             -      -    $8,755,325   100%  2003.csv  2003

[200 rows x 9 columns]>
2004.csv
<bound method NDFrame.head of      Rank                                      Release Group     Worldwide  \
0       1                                            Shrek 2  $928,760,770
1       2           Harry Potter and the Prisoner of Azkaban  $795,634,069
2       3                                       Spider-Man 2  $788,618,317
3       4                                    The Incredibles  $631,442,092
4       5                          The Passion of the Christ  $611,486,736
..    ...                                                ...           ...
195   196                                   Connie and Carla   $11,341,016
196   197  Naruto the Movie: Ninja Clash in the Land of Snow   $11,141,307
197   198                                            Head-On   $11,030,861
198   199                                       District B13   $10,976,892
199   200                                  The Perfect Score   $10,898,337

         Domestic      %       Foreign    %.1  filename  year
0    $441,226,247  47.5%  $487,534,523  52.5%  2004.csv  2004
1    $249,541,069  31.4%  $546,093,000  68.6%  2004.csv  2004
2    $373,585,825  47.4%  $415,032,492  52.6%  2004.csv  2004
3    $261,441,092  41.4%  $370,001,000  58.6%  2004.csv  2004
4    $370,274,604  60.6%  $241,212,132  39.4%  2004.csv  2004
..            ...    ...           ...    ...       ...   ...
195    $8,085,771  71.3%    $3,255,245  28.7%  2004.csv  2004
196             -      -   $11,141,307   100%  2004.csv  2004
197      $435,395   3.9%   $10,595,466  96.1%  2004.csv  2004
198    $1,200,216  10.9%    $9,776,676  89.1%  2004.csv  2004
199   $10,391,003  95.3%      $507,334   4.7%  2004.csv  2004

[200 rows x 9 columns]>
2005.csv
<bound method NDFrame.head of      Rank                                      Release Group     Worldwide  \
0       1                Harry Potter and the Goblet of Fire  $895,921,036
1       2       Star Wars: Episode III - Revenge of the Sith  $868,352,530
2       3  The Chronicles of Narnia: The Lion, the Witch ...  $745,013,115
3       4                                  War of the Worlds  $603,873,119
4       5                                          King Kong  $556,906,378
..    ...                                                ...           ...
195   196                                   Murder, Take One   $14,915,208
196   197                     Most Beautiful Week in My Life   $14,765,033
197   198                      Samurai Commando Mission 1549   $14,648,713
198   199                                         Blood Rain   $14,270,938
199   200                                              Proof   $14,189,860

         Domestic      %       Foreign    %.1  filename  year
0    $290,013,036  32.4%  $605,908,000  67.6%  2005.csv  2005
1    $380,270,577  43.8%  $488,081,953  56.2%  2005.csv  2005
2    $291,710,957  39.2%  $453,302,158  60.8%  2005.csv  2005
3    $234,280,354  38.8%  $369,592,765  61.2%  2005.csv  2005
4    $218,080,025  39.2%  $338,826,353  60.8%  2005.csv  2005
..            ...    ...           ...    ...       ...   ...
195             -      -   $14,915,208   100%  2005.csv  2005
196             -      -   $14,765,033   100%  2005.csv  2005
197             -      -   $14,648,713   100%  2005.csv  2005
198             -      -   $14,270,938   100%  2005.csv  2005
199    $7,535,331  53.1%    $6,654,529  46.9%  2005.csv  2005

[200 rows x 9 columns]>
2006.csv
<bound method NDFrame.head of      Rank                               Release Group       Worldwide  \
0       1  Pirates of the Caribbean: Dead Man's Chest  $1,066,179,725
1       2                           The Da Vinci Code    $760,006,945
2       3                       Ice Age: The Meltdown    $660,998,756
3       4                               Casino Royale    $605,999,592
4       5                         Night at the Museum    $574,480,841
..    ...                                         ...             ...
195   196                             Orchestra Seats     $17,574,836
196   197                                   Annapolis     $17,496,992
197   198                            Paris, je t'aime     $17,471,727
198   199                              Material Girls     $16,907,725
199   200                                       Zhara     $16,877,870

         Domestic      %       Foreign    %.1  filename  year
0    $423,315,812  39.7%  $642,863,913  60.3%  2006.csv  2006
1    $217,536,138  28.6%  $542,470,807  71.4%  2006.csv  2006
2    $195,330,621  29.6%  $465,668,135  70.4%  2006.csv  2006
3    $167,445,960  27.6%  $438,553,632  72.4%  2006.csv  2006
4    $250,863,268  43.7%  $323,617,573  56.3%  2006.csv  2006
..            ...    ...           ...    ...       ...   ...
195    $2,044,858  11.6%   $15,529,978  88.4%  2006.csv  2006
196   $17,127,992  97.9%      $369,000   2.1%  2006.csv  2006
197    $4,899,278    28%   $12,572,449    72%  2006.csv  2006
198   $11,449,638  67.7%    $5,458,087  32.3%  2006.csv  2006
199             -      -   $16,877,870   100%  2006.csv  2006

[200 rows x 9 columns]>
2007.csv
<bound method NDFrame.head of      Rank                              Release Group     Worldwide  \
0       1   Pirates of the Caribbean: At World's End  $960,996,492
1       2  Harry Potter and the Order of the Phoenix  $941,676,843
2       3                               Spider-Man 3  $894,983,373
3       4                            Shrek the Third  $813,367,380
4       5                               Transformers  $709,709,780
..    ...                                        ...           ...
195   196                         The Counterfeiters   $18,814,713
196   197                            Ho voglia di te   $18,594,142
197   198                                  Saawariya   $18,513,120
198   199                             Daddy Day Camp   $18,197,398
199   200                        Voice of a Murderer   $18,160,598

         Domestic      %       Foreign    %.1  filename  year
0    $309,420,425  32.2%  $651,576,067  67.8%  2007.csv  2007
1    $292,004,738    31%  $649,672,105    69%  2007.csv  2007
2    $336,530,303  37.6%  $558,453,070  62.4%  2007.csv  2007
3    $322,719,944  39.7%  $490,647,436  60.3%  2007.csv  2007
4    $319,246,193    45%  $390,463,587    55%  2007.csv  2007
..            ...    ...           ...    ...       ...   ...
195    $5,488,570  29.2%   $13,326,143  70.8%  2007.csv  2007
196             -      -   $18,594,142   100%  2007.csv  2007
197      $885,574   4.8%   $17,627,546  95.2%  2007.csv  2007
198   $13,235,267  72.7%    $4,962,131  27.3%  2007.csv  2007
199             -      -   $18,160,598   100%  2007.csv  2007

[200 rows x 9 columns]>
2008.csv
<bound method NDFrame.head of      Rank                                      Release Group       Worldwide  \
0       1                                    The Dark Knight  $1,003,045,358
1       2  Indiana Jones and the Kingdom of the Crystal S...    $790,653,942
2       3                                      Kung Fu Panda    $631,744,560
3       4                                            Hancock    $629,443,428
4       5                                         Mamma Mia!    $609,841,637
..    ...                                                ...             ...
195   196                                           Jaane Tu     $19,852,786
196   197                                          Blindness     $19,844,979
197   198                                  Il cosmo sul comò     $19,494,191
198   199                                    Lyubov 2 Morkov     $19,171,562
199   200              How to Lose Friends & Alienate People     $19,152,009

         Domestic      %       Foreign    %.1  filename  year
0    $533,345,358  53.2%  $469,700,000  46.8%  2008.csv  2008
1    $317,101,119  40.1%  $473,552,823  59.9%  2008.csv  2008
2    $215,434,591  34.1%  $416,309,969  65.9%  2008.csv  2008
3    $227,946,274  36.2%  $401,497,154  63.8%  2008.csv  2008
4    $144,130,063  23.6%  $465,711,574  76.4%  2008.csv  2008
..            ...    ...           ...    ...       ...   ...
195      $604,037     3%   $19,248,749    97%  2008.csv  2008
196    $3,351,751  16.9%   $16,493,228  83.1%  2008.csv  2008
197             -      -   $19,494,191   100%  2008.csv  2008
198             -      -   $19,171,562   100%  2008.csv  2008
199    $2,778,752  14.5%   $16,373,257  85.5%  2008.csv  2008

[200 rows x 9 columns]>
2009.csv
<bound method NDFrame.head of      Rank                                   Release Group       Worldwide  \
0       1                                          Avatar  $2,743,577,587
1       2          Harry Potter and the Half-Blood Prince    $933,959,197
2       3                  Ice Age: Dawn of the Dinosaurs    $886,686,817
3       4             Transformers: Revenge of the Fallen    $836,303,693
4       5                                            2012    $769,679,473
..    ...                                             ...             ...
195   196  Kamen Rider Decade: All Riders vs. Dai-Shocker     $19,418,091
196   197                                          Ballad     $19,328,678
197   198                                The White Ribbon     $19,319,671
198   199                                       Celda 211     $19,300,483
199   200                                     Taras Bulba     $18,874,808

         Domestic      %         Foreign    %.1  filename  year
0    $749,766,139  27.3%  $1,993,811,448  72.7%  2009.csv  2009
1    $301,959,197  32.3%    $632,000,000  67.7%  2009.csv  2009
2    $196,573,705  22.2%    $690,113,112  77.8%  2009.csv  2009
3    $402,111,870  48.1%    $434,191,823  51.9%  2009.csv  2009
4    $166,112,167  21.6%    $603,567,306  78.4%  2009.csv  2009
..            ...    ...             ...    ...       ...   ...
195             -      -     $19,418,091   100%  2009.csv  2009
196             -      -     $19,328,678   100%  2009.csv  2009
197    $2,222,862  11.5%     $17,096,809  88.5%  2009.csv  2009
198             -      -     $19,300,483   100%  2009.csv  2009
199             -      -     $18,874,808   100%  2009.csv  2009

[200 rows x 9 columns]>
2010.csv

<bound method NDFrame.head of      Rank                                 Release Group       Worldwide  \
0       1                                   Toy Story 3  $1,066,969,703
1       2                           Alice in Wonderland  $1,025,467,110
2       3  Harry Potter and the Deathly Hallows: Part 1    $976,536,918
3       4                                     Inception    $826,137,188
4       5                           Shrek Forever After    $752,600,867
..    ...                                           ...             ...
195   196                                   The Servant     $19,259,164
196   197                                Norwegian Wood     $19,115,721
197   198                               Head Over Heels     $18,876,082
198   199                                  13 Assassins     $18,689,058
199   200                    Green Zone 2010 Re-release     $18,495,045

         Domestic      %       Foreign    %.1  filename  year
0    $415,004,880  38.9%  $651,964,823  61.1%  2010.csv  2010
1    $334,191,110  32.6%  $691,276,000  67.4%  2010.csv  2010
2    $295,983,305  30.3%  $680,553,613  69.7%  2010.csv  2010
3    $292,576,195  35.4%  $533,560,993  64.6%  2010.csv  2010
4    $238,736,787  31.7%  $513,864,080  68.3%  2010.csv  2010
..            ...    ...           ...    ...       ...   ...
195             -      -   $19,259,164   100%  2010.csv  2010
196       $13,000  <0.1%   $19,102,721  99.9%  2010.csv  2010
197             -      -   $18,876,082   100%  2010.csv  2010
198      $802,778   4.3%   $17,886,280  95.7%  2010.csv  2010
199             -      -   $18,495,045   100%  2010.csv  2010

[200 rows x 9 columns]>
2011.csv
<bound method NDFrame.head of      Rank                                 Release Group       Worldwide  \
0       1  Harry Potter and the Deathly Hallows: Part 2  $1,341,511,219
1       2                Transformers: Dark of the Moon  $1,123,794,079
2       3   Pirates of the Caribbean: On Stranger Tides  $1,045,713,802
3       4     The Twilight Saga: Breaking Dawn - Part 1    $712,205,856
4       5          Mission: Impossible - Ghost Protocol    $694,713,380
..    ...                                           ...             ...
195   196                                The Front Line     $20,629,645
196   197                                       Polisse     $20,590,872
197   198                                      Hollywoo     $20,587,850
198   199                              Scabbard Samurai     $20,251,745
199   200                 Kaiji 2: The Ultimate Gambler     $19,971,259

         Domestic      %       Foreign    %.1  filename  year
0    $381,011,219  28.4%  $960,500,000  71.6%  2011.csv  2011
1    $352,390,543  31.4%  $771,403,536  68.6%  2011.csv  2011
2    $241,071,802  23.1%  $804,642,000  76.9%  2011.csv  2011
3    $281,287,133  39.5%  $430,918,723  60.5%  2011.csv  2011
4    $209,397,903  30.1%  $485,315,477  69.9%  2011.csv  2011
..            ...    ...           ...    ...       ...   ...
195       $11,018  <0.1%   $20,618,627  99.9%  2011.csv  2011
196      $211,440     1%   $20,379,432    99%  2011.csv  2011
197             -      -   $20,587,850   100%  2011.csv  2011
198             -      -   $20,251,745   100%  2011.csv  2011
199             -      -   $19,971,259   100%  2011.csv  2011

[200 rows x 9 columns]>
2012.csv
<bound method NDFrame.head of      Rank                      Release Group       Worldwide      Domestic  \
0       1                       The Avengers  $1,518,812,988  $623,357,910
1       2                            Skyfall  $1,108,561,013  $304,360,277
2       3              The Dark Knight Rises  $1,081,041,287  $448,139,099
3       4  The Hobbit: An Unexpected Journey  $1,017,003,568  $303,003,568
4       5         Ice Age: Continental Drift    $877,244,782  $161,321,843
..    ...                                ...             ...           ...
195   196                            Unbowed     $22,132,903             -
196   197               Confession of Murder     $21,701,525             -
197   198      StreetDance 2 2012 Re-release     $21,638,853             -
198   199               2012 2012 Re-release     $21,538,353             -
199   200        Beasts of the Southern Wild     $21,107,746   $12,795,746

         %       Foreign    %.1  filename  year
0      41%  $895,455,078    59%  2012.csv  2012
1    27.5%  $804,200,736  72.5%  2012.csv  2012
2    41.5%  $632,902,188  58.5%  2012.csv  2012
3    29.8%  $714,000,000  70.2%  2012.csv  2012
4    18.4%  $715,922,939  81.6%  2012.csv  2012
..     ...           ...    ...       ...   ...
195      -   $22,132,903   100%  2012.csv  2012
196      -   $21,701,525   100%  2012.csv  2012
197      -   $21,638,853   100%  2012.csv  2012
198      -   $21,538,353   100%  2012.csv  2012
199  60.6%    $8,312,000  39.4%  2012.csv  2012

[200 rows x 9 columns]>
2013.csv
<bound method NDFrame.head of      Rank                        Release Group       Worldwide      Domestic  \
0       1                               Frozen  $1,280,802,282  $400,738,009
1       2                           Iron Man 3  $1,214,811,252  $409,013,994
2       3                      Despicable Me 2    $970,766,005  $368,065,385
3       4  The Hobbit: The Desolation of Smaug    $958,366,855  $258,366,855
4       5      The Hunger Games: Catching Fire    $865,011,746  $424,668,047
..    ...                                  ...             ...           ...
195   196                               Trance     $24,261,569    $2,328,743
196   197                      The Railway Man     $24,174,885    $4,438,438
197   198                       Out of Inferno     $24,109,886             -
198   199                 Bring Happiness Home     $23,980,000             -
199   200                        Baggage Claim     $22,871,096   $21,569,509

         %       Foreign    %.1  filename  year
0    31.3%  $880,064,273  68.7%  2013.csv  2013
1    33.7%  $805,797,258  66.3%  2013.csv  2013
2    37.9%  $602,700,620  62.1%  2013.csv  2013
3      27%  $700,000,000    73%  2013.csv  2013
4    49.1%  $440,343,699  50.9%  2013.csv  2013
..     ...           ...    ...       ...   ...
195   9.6%   $21,932,826  90.4%  2013.csv  2013
196  18.4%   $19,736,447  81.6%  2013.csv  2013
197      -   $24,109,886   100%  2013.csv  2013
198      -   $23,980,000   100%  2013.csv  2013
199  94.3%    $1,301,587   5.7%  2013.csv  2013

[200 rows x 9 columns]>
2014.csv
<bound method NDFrame.head of      Rank                              Release Group       Worldwide  \
0       1            Transformers: Age of Extinction  $1,104,054,072
1       2  The Hobbit: The Battle of the Five Armies    $956,019,788
2       3                    Guardians of the Galaxy    $772,776,600
3       4                                 Maleficent    $758,410,378
4       5      The Hunger Games: Mockingjay - Part 1    $755,356,711
..    ...                                        ...             ...
195   196                          A Haunted House 2     $25,358,716
196   197                             And So It Goes     $25,312,387
197   198                             Kung Fu Jungle     $24,070,765
198   199                                   Hot Road     $22,916,313
199   200                              Fading Gigolo     $22,706,304

         Domestic      %       Foreign    %.1  filename  year
0    $245,439,076  22.2%  $858,614,996  77.8%  2014.csv  2014
1    $255,119,788  26.7%  $700,900,000  73.3%  2014.csv  2014
2    $333,176,600  43.1%  $439,600,000  56.9%  2014.csv  2014
3    $241,410,378  31.8%  $517,000,000  68.2%  2014.csv  2014
4    $337,135,885  44.6%  $418,220,826  55.4%  2014.csv  2014
..            ...    ...           ...    ...       ...   ...
195   $17,329,486  68.3%    $8,029,230  31.7%  2014.csv  2014
196   $15,160,801  59.9%   $10,151,586  40.1%  2014.csv  2014
197      $129,784   0.5%   $23,940,981  99.5%  2014.csv  2014
198             -      -   $22,916,313   100%  2014.csv  2014
199    $3,769,873  16.6%   $18,936,431  83.4%  2014.csv  2014

[200 rows x 9 columns]>
2015.csv
<bound method NDFrame.head of      Rank                                   Release Group       Worldwide  \
0       1      Star Wars: Episode VII - The Force Awakens  $2,068,223,624
1       2                                  Jurassic World  $1,670,400,637
2       3                                       Furious 7  $1,515,047,671
3       4                         Avengers: Age of Ultron  $1,402,805,868
4       5                                         Minions  $1,159,398,397
..    ...                                             ...             ...
195   196  Huevos: Little Rooster's Egg-cellent Adventure     $25,892,561
196   197                          Dügün Dernek 2: Sünnet     $25,836,668
197   198                                 Look Who's Back     $25,513,752
198   199                               Serial Teachers 2     $25,364,150
199   200                                       Wild City     $24,817,852

         Domestic      %         Foreign    %.1  filename  year
0    $936,662,225  45.3%  $1,131,561,399  54.7%  2015.csv  2015
1    $652,270,625    39%  $1,018,130,012    61%  2015.csv  2015
2    $353,007,020  23.3%  $1,162,040,651  76.7%  2015.csv  2015
3    $459,005,868  32.7%    $943,800,000  67.3%  2015.csv  2015
4    $336,045,770    29%    $823,352,627    71%  2015.csv  2015
..            ...    ...             ...    ...       ...   ...
195    $9,080,818  35.1%     $16,811,743  64.9%  2015.csv  2015
196             -      -     $25,836,668   100%  2015.csv  2015
197             -      -     $25,513,752   100%  2015.csv  2015
198             -      -     $25,364,150   100%  2015.csv  2015
199       $34,866   0.1%     $24,782,986  99.9%  2015.csv  2015

[200 rows x 9 columns]>
2016.csv
<bound method NDFrame.head of      Rank                              Release Group       Worldwide  \
0       1                 Captain America: Civil War  $1,153,296,293
1       2               Rogue One: A Star Wars Story  $1,056,057,273
2       3                               Finding Dory  $1,028,570,889
3       4                                   Zootopia  $1,023,784,195
4       5                            The Jungle Book    $966,550,600
..    ...                                        ...             ...
195   196  Middle School: The Worst Years of My Life     $23,316,139
196   197                                   Triple 9     $23,177,948
197   198                                   Rock Dog     $23,157,646
198   199                                 The Choice     $23,064,015
199   200                             Penny Pincher!     $22,955,486

         Domestic      %       Foreign    %.1  filename  year
0    $408,084,349  35.4%  $745,211,944  64.6%  2016.csv  2016
1    $532,177,324  50.4%  $523,879,949  49.6%  2016.csv  2016
2    $486,295,561  47.3%  $542,275,328  52.7%  2016.csv  2016
3    $341,268,248  33.3%  $682,515,947  66.7%  2016.csv  2016
4    $364,001,123  37.7%  $602,549,477  62.3%  2016.csv  2016
..            ...    ...           ...    ...       ...   ...
195   $20,007,149  85.8%    $3,308,990  14.2%  2016.csv  2016
196   $12,639,297  54.5%   $10,538,651  45.5%  2016.csv  2016
197    $9,420,546  40.7%   $13,737,100  59.3%  2016.csv  2016
198   $18,730,891  81.2%    $4,333,124  18.8%  2016.csv  2016
199             -      -   $22,955,486   100%  2016.csv  2016

[200 rows x 9 columns]>
2017.csv
<bound method NDFrame.head of      Rank                            Release Group       Worldwide  \
0       1  Star Wars: Episode VIII - The Last Jedi  $1,332,539,889
1       2                     Beauty and the Beast  $1,263,521,126
2       3                  The Fate of the Furious  $1,236,005,118
3       4                          Despicable Me 3  $1,034,799,409
4       5           Jumanji: Welcome to the Jungle    $962,077,546
..    ...                                      ...             ...
195   196                         The Glass Castle     $22,088,533
196   197                    Leap! 2017 Re-release     $21,929,861
197   198                      Épouse-moi mon pote     $21,571,464
198   199                               The Prison     $21,205,329
199   200         One Hundred Thousand Bad Jokes 2     $20,460,352

         Domestic      %         Foreign    %.1  filename  year
0    $620,181,382  46.5%    $712,358,507  53.5%  2017.csv  2017
1    $504,014,165  39.9%    $759,506,961  60.1%  2017.csv  2017
2    $226,008,385  18.3%  $1,009,996,733  81.7%  2017.csv  2017
3    $264,624,300  25.6%    $770,175,109  74.4%  2017.csv  2017
4    $404,515,480    42%    $557,562,066    58%  2017.csv  2017
..            ...    ...             ...    ...       ...   ...
195   $17,273,059  78.2%      $4,815,474  21.8%  2017.csv  2017
196   $21,858,070  99.7%         $71,791   0.3%  2017.csv  2017
197             -      -     $21,571,464   100%  2017.csv  2017
198      $207,481     1%     $20,997,848    99%  2017.csv  2017
199             -      -     $20,460,352   100%  2017.csv  2017

[200 rows x 9 columns]>
2018.csv
<bound method NDFrame.head of      Rank                   Release Group       Worldwide      Domestic  \
0       1          Avengers: Infinity War  $2,048,359,754  $678,815,482
1       2                   Black Panther  $1,346,913,161  $700,059,566
2       3  Jurassic World: Fallen Kingdom  $1,308,467,944  $417,719,760
3       4                   Incredibles 2  $1,242,805,359  $608,581,744
4       5                         Aquaman  $1,148,461,807  $335,061,807
..    ...                             ...             ...           ...
195   196                       Padmaavat     $22,991,060   $11,846,060
196   197       Won't You Be My Neighbor?     $22,844,741   $22,835,787
197   198                  Europe Raiders     $22,435,156             -
198   199          Mojin: The Worm Valley     $22,381,583      $101,516
199   200                           Stree     $22,075,730             -

         %         Foreign    %.1  filename  year
0    33.1%  $1,369,544,272  66.9%  2018.csv  2018
1      52%    $646,853,595    48%  2018.csv  2018
2    31.9%    $890,748,184  68.1%  2018.csv  2018
3      49%    $634,223,615    51%  2018.csv  2018
4    29.2%    $813,400,000  70.8%  2018.csv  2018
..     ...             ...    ...       ...   ...
195  51.5%     $11,145,000  48.5%  2018.csv  2018
196   100%          $8,954  <0.1%  2018.csv  2018
197      -     $22,435,156   100%  2018.csv  2018
198   0.5%     $22,280,067  99.5%  2018.csv  2018
199      -     $22,075,730   100%  2018.csv  2018

[200 rows x 9 columns]>
2019.csv
<bound method NDFrame.head of      Rank                                      Release Group       Worldwide  \
0       1                                  Avengers: Endgame  $2,797,501,328
1       2                                      The Lion King  $1,656,943,394
2       3                                          Frozen II  $1,450,026,933
3       4                          Spider-Man: Far from Home  $1,131,927,996
4       5                                     Captain Marvel  $1,128,274,794
..    ...                                                ...             ...
195   196                                       The Specials     $19,363,826
196   197                                    Always Miss You     $19,015,465
197   198                               An Officer and a Spy     $18,878,658
198   199  Crayon Shin-chan: Honeymoon Hurricane - The Lo...     $18,738,951
199   200                                              Greta     $18,653,107

         Domestic      %         Foreign    %.1  filename  year
0    $858,373,000  30.7%  $1,939,128,328  69.3%  2019.csv  2019
1    $543,638,043  32.8%  $1,113,305,351  67.2%  2019.csv  2019
2    $477,373,578  32.9%    $972,653,355  67.1%  2019.csv  2019
3    $390,532,085  34.5%    $741,395,911  65.5%  2019.csv  2019
4    $426,829,839  37.8%    $701,444,955  62.2%  2019.csv  2019
..            ...    ...             ...    ...       ...   ...
195             -      -     $19,363,826   100%  2019.csv  2019
196       $91,884   0.5%     $18,923,581  99.5%  2019.csv  2019
197             -      -     $18,878,658   100%  2019.csv  2019
198             -      -     $18,738,951   100%  2019.csv  2019
199   $10,532,219  56.5%      $8,120,888  43.5%  2019.csv  2019

[200 rows x 9 columns]>
2020.csv
<bound method NDFrame.head of      Rank                        Release Group     Worldwide      Domestic  \
0       1                    The Eight Hundred  $461,421,559      $372,755
1       2  Demon Slayer the Movie: Mugen Train  $453,210,959   $49,505,008
2       3                    Bad Boys for Life  $426,505,244  $206,305,244
3       4               My People, My Homeland  $422,390,820             -
4       5                                Tenet  $365,294,355   $58,504,105
..    ...                                  ...           ...           ...
195   196                        The Empty Man    $4,796,993    $2,992,948
196   197                             The Vets    $4,788,826             -
197   198            The Broken Hearts Gallery    $4,781,389    $4,067,442
198   199           Gladiator 20th Anniversary    $4,780,585             -
199   200                             Intruder    $4,751,103             -

         %       Foreign    %.1  filename  year
0    <0.1%  $461,048,804  99.9%  2020.csv  2020
1    10.9%  $403,705,951  89.1%  2020.csv  2020
2    48.4%  $220,200,000  51.6%  2020.csv  2020
3        -  $422,390,820   100%  2020.csv  2020
4      16%  $306,790,250    84%  2020.csv  2020
..     ...           ...    ...       ...   ...
195  62.4%    $1,804,045  37.6%  2020.csv  2020
196      -    $4,788,826   100%  2020.csv  2020
197  85.1%      $713,947  14.9%  2020.csv  2020
198      -    $4,780,585   100%  2020.csv  2020
199      -    $4,751,103   100%  2020.csv  2020

[200 rows x 9 columns]>
2021.csv
<bound method NDFrame.head of      Rank                Release Group       Worldwide      Domestic      %  \
0       1      Spider-Man: No Way Home  $1,901,232,550  $804,793,477  42.3%
1       2  The Battle at Lake Changjin    $902,540,935      $342,411  <0.1%
2       3                      Hi, Mom    $822,009,764             -      -
3       4               No Time to Die    $774,153,007  $160,891,007  20.8%
4       5            F9: The Fast Saga    $726,229,501  $173,005,945  23.8%
..    ...                          ...             ...           ...    ...
195   196  Love Letter 2021 Re-release      $7,400,000             -      -
196   197            Signal: The Movie      $7,388,603             -      -
197   198                          '83      $7,351,061    $4,055,660  55.2%
198   199                       Contra      $7,216,863             -      -
199   200   Dear Tutu: Operation T-Rex      $7,200,000             -      -

            Foreign    %.1  filename  year
0    $1,096,439,073  57.7%  2021.csv  2021
1      $902,198,524   100%  2021.csv  2021
2      $822,009,764   100%  2021.csv  2021
3      $613,262,000  79.2%  2021.csv  2021
4      $553,223,556  76.2%  2021.csv  2021
..              ...    ...       ...   ...
195      $7,400,000   100%  2021.csv  2021
196      $7,388,603   100%  2021.csv  2021
197      $3,295,401  44.8%  2021.csv  2021
198      $7,216,863   100%  2021.csv  2021
199      $7,200,000   100%  2021.csv  2021

[200 rows x 9 columns]>
2022.csv

<bound method NDFrame.head of      Rank                                Release Group       Worldwide  \
0       1                            Top Gun: Maverick  $1,189,821,383
1       2  Doctor Strange in the Multiverse of Madness    $954,006,455
2       3                      Jurassic World Dominion    $878,857,710
3       4                                   The Batman    $770,836,163
4       5                            Water Gate Bridge    $626,571,280
..    ...                                          ...             ...
195   196                                   Champagne!      $1,938,987
196   197                                   Mia and Me      $1,924,656
197   198                           Jayeshbhai Jordaar      $1,924,567
198   199             Mia and Me: The Hero of Centopia      $1,918,059
199   200                                 Wedding High      $1,908,598

         Domestic      %       Foreign    %.1  filename  year
0    $601,921,383  50.6%  $587,900,000  49.4%  2022.csv  2022
1    $411,085,499  43.1%  $542,920,956  56.9%  2022.csv  2022
2    $352,844,710  40.1%  $526,013,000  59.9%  2022.csv  2022
3    $369,345,583  47.9%  $401,490,580  52.1%  2022.csv  2022
4        $117,294  <0.1%  $626,453,986   100%  2022.csv  2022
..            ...    ...           ...    ...       ...   ...
195             -      -    $1,938,987   100%  2022.csv  2022
196             -      -    $1,924,656   100%  2022.csv  2022
197             -      -    $1,924,567   100%  2022.csv  2022
198             -      -    $1,918,059   100%  2022.csv  2022
199             -      -    $1,908,598   100%  2022.csv  2022

[200 rows x 9 columns]>

In [11]:
my_entire_dataframe = pd.concat(my_dataframes)

In [12]:
my_entire_dataframe.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,year
0,1,Star Wars: Episode I - The Phantom Menace,"$924,305,084","$431,088,295",46.6%,"$493,216,789",53.4%,1999.csv,1999
1,2,The Sixth Sense,"$672,806,292","$293,506,292",43.6%,"$379,300,000",56.4%,1999.csv,1999
2,3,Toy Story 2,"$487,059,677","$245,852,179",50.5%,"$241,207,498",49.5%,1999.csv,1999
3,4,The Matrix,"$463,517,383","$171,479,930",37%,"$292,037,453",63%,1999.csv,1999
4,5,Tarzan,"$448,191,819","$171,091,819",38.2%,"$277,100,000",61.8%,1999.csv,1999

In [13]:
my_entire_dataframe.tail()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,year
195,196,Champagne!,"$1,938,987",-,-,"$1,938,987",100%,2022.csv,2022
196,197,Mia and Me,"$1,924,656",-,-,"$1,924,656",100%,2022.csv,2022
197,198,Jayeshbhai Jordaar,"$1,924,567",-,-,"$1,924,567",100%,2022.csv,2022
198,199,Mia and Me: The Hero of Centopia,"$1,918,059",-,-,"$1,918,059",100%,2022.csv,2022
199,200,Wedding High,"$1,908,598",-,-,"$1,908,598",100%,2022.csv,2022

In [14]:
dataset = os.path.join(CACHE_DIR, 'movies-box-office-dataset.csv')
my_entire_dataframe.to_csv(dataset, index=False)